@* @model ChatViewModel

<div>
    <h3>Chat with User ID: @Model.ReceiverId</h3>

    <div id="chatMessages">
        @foreach (var message in Model.Messages)
        {
            <p><strong>User @message.SenderId:</strong> @message.Message</p>
        }
    </div>

    <form asp-action="SendMessage">
        <input type="hidden" asp-for="SenderId" />
        <input type="hidden" asp-for="ReceiverId" />
        <textarea asp-for="Message"></textarea>
        <input type="submit" value="Send" />
    </form>
</div>
 *@