@using SMSWEBAPI.Models
@model Subject


<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Subject Name</label>
        <input type="text" class="form-control" id="Subject">
    </div>
  

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>