@using SMSWEBAPI.Models
@model Teacher


<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName" >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="Lastname">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Qualification</label>
        <input type="text" class="form-control" id="Qualification">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Subject Id</label>
        <input type="text" class="form-control" id="SubjectId">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="text" class="form-control" id="Email">
    </div>
    
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hire Date</label>
        <input type="date" class="form-control" id="Email">
    </div>
  
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>