<div class="row clearfix row-deck">
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">No Of Students</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter" id="noofstudents"></h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">No Of Teachers</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter" id="NoOfTeachers"></h5>
              
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Upcoming Events</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter">17</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">New Message</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter">12</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Open Requests</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter">19</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Hours Spent</h3>
            </div>
            <div class="card-body">
                <h5 class="number mb-0 font-32 counter">284</h5>
            </div>
        </div>
    </div>
</div> 