@model SMS.Models.Fees

@{
    ViewData["Title"] = "Fees";
}

<h1>Fees</h1>

<h4>Fees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Fees">
            <div class="form-group">
                <select asp-for="ClassId" id="AddClassInFees" class="form-control" >

                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="FeesValue" class="control-label"></label>
                <input asp-for="FeesValue" class="form-control" />
                <span asp-validation-for="FeesValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
