

<table class="table" id="performancesTable">
    <thead>
        <tr>
            <th>Performance ID</th>
            <th>Student ID</th>
            <th>Grade</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody id="Tbody">
    </tbody>
</table>

